* {
    box-sizing: border-box;
    margin: 0;
padding: 0;
}
h1{
    text-align: center;
    margin: 20px auto;
color: white;
font-weight: bold;
font-family: ;

}
span{
    color: red;
}
h3{
color: white;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    color: black;
    background-image: url(./img/background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}
#saa{
    text-align: center;
}

#kaydet{
    background-color: red;
    border: 2px solid red;
    border-radius: 20px;
    padding: 7px 40px;
    text-align: center;
    color:white;

    margin: 0 auto ;   
}
.form{ 
    width: 70px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.658);
    background-color: rgba(0, 0, 0, 0.853);
    color:aliceblue
    

}
